:root {
  --mainColor: #15202b;
  --secondaryColor: #192734;

  --borderColor: #164d56;

  --mainText: #fff;
  --secondaryText: #eeeeee;

  --themeDotBorder: #fff;
  --themeDotShadow: #164d56;

  --previewBg: rgb(25, 39, 52, 0.8);
  --previewShadow: #111921;

  --postShadow: #164d56;

  --buttonColor: #17a2b8;
}
