:root {
  --backgroundPrimary: #000814;
  --backgroundSecondary: #1d2d44;
  --text: #333;
  --cardBackground: #fff;
  --socialLinkBackground: #e9ecef;
  --socialLinkHoverBackground: #f8f9fa;
  --socialLinkHover: #007bff;
  --btnBorder: #e9ecef;
  --btnHoverBackground: #f8f9fa;
  --btnCopiedBackground: #d4edda;
  --btnCopied: #155724;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background: linear-gradient(
    135deg,
    var(--backgroundPrimary) 0%,
    var(--backgroundSecondary) 100%
  );
  color: var(--textColor);
  display: flex;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    sans-serif;
  justify-content: center;
  min-height: 100vh;
  padding: 15px;
}

.profileCard-main {
  background: var(--cardBackground);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
  max-width: 400px;
  overflow: hidden;
  text-align: center;
  width: 100%;
}

.profileCard-mainImg {
  height: 300px;
  object-fit: cover;
  width: 100%;
}

.profileCard-section {
  padding: 20px;
}

.profileCard-h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.profileCard-bio {
  font-size: 1.1em;
  line-height: 1.5;
  margin-bottom: 30px;
}

.profileCard-mainLink {
  display: block;
}

.profileCard-imgDescription {
  font-size: 0.75rem;
  margin-bottom: 30px;
}

.profileCard-mainLink img {
  border-radius: 15px;
  object-fit: cover;
  transition:
    transform 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
  width: 100%;
}

.profileCard-mainLink img:hover {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
  transform: translateY(-5px);
}

.profileCard-socialLink {
  align-items: center;
  background: var(--socialLinkBackground);
  border: 2px solid transparent;
  border-radius: 50px;
  color: var(--text);
  display: flex;
  font-size: 1.1em;
  font-weight: 500;
  gap: 15px;
  justify-content: center;
  margin-bottom: 20px;
  padding: 15px 25px;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

.profileCard-socialLink:hover {
  background: var(--socialLinkHoverBackground);
  border-color: var(--socialLinkHover);
  box-shadow: 0 10px 25px rgba(0, 123, 255, 0.25);
  color: var(--socialLinkHover);
  transform: translateY(-2px);
}

.profileCard-socialLink i {
  font-size: 1.5em;
}

.profileCard-btn {
  align-items: center;
  background: var(--socialLinkBackground);
  border: 2px solid var(--btnBorder);
  border-radius: 50px;
  color: var(--text);
  cursor: pointer;
  display: flex;
  font-size: 1em;
  font-weight: 500;
  gap: 15px;
  justify-content: center;
  padding: 12px 20px;
  transition: all 0.3s ease-in-out;
  width: 100%;
}

.profileCard-btn:hover {
  background: var(--btnHoverBackground);
}

.profileCard-btn.copied {
  background: var(--btnCopiedBackground);
  color: var(--btnCopied);
}
